# Neural Networks with Keras

In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np
import datetime as dt
from datetime import datetime
pd.set_option("display.max_columns", 500)
import time
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sqlalchemy import create_engine
import psycopg2
import json
from postgreSQLpassword import passW

/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/Users/luisfdosanchez/anaconda3/envs/PythonData/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(42)

In [3]:
connection_string = "postgresql://postgres:"+passW+"@localhost:5432/newecobici"
engine = create_engine(connection_string)

In [4]:
conn = psycopg2.connect(database="newecobici",user="postgres", password=passW, host ="localhost",port="5432")
print("Database Connected...")

Database Connected...

In [5]:
cursor=conn.cursor()

In [6]:
data=pd.read_sql_query("Select id, genero_usuario, edad_usuario, bici, ciclo_estacion_retiro, cast(fecha_retiro as VARCHAR), mes_retiro, anio_retiro, cast(hora_retiro as VARCHAR), ciclo_estacion_arribo, cast(fecha_arribo as VARCHAR), cast(hora_arribo as VARCHAR) from ecobicidf where anio_retiro in ('2017', '2018', '2019')",conn)
#data=data.sample(replace=False,frac=0.08)

In [7]:
conn.close()

In [8]:
#base1=data

In [9]:
data['anio_retiro'].unique()

data.head()

,id,genero_usuario,edad_usuario,bici,ciclo_estacion_retiro,fecha_retiro,mes_retiro,anio_retiro,hora_retiro,ciclo_estacion_arribo,fecha_arribo,hora_arribo
0,38345822,M,42,1570,33,2017-01-01,1,2017,00:05:06,1,2017-01-01,00:16:49
1,38345823,M,36,7083,27,2017-01-01,1,2017,00:10:13,123,2017-01-01,00:18:28
2,38345824,M,18,4093,157,2017-01-01,1,2017,00:14:06,157,2017-01-01,01:05:31
3,38345825,M,20,7704,87,2017-01-01,1,2017,00:14:35,43,2017-01-01,00:18:27
4,38345826,M,34,7176,47,2017-01-01,1,2017,00:16:54,123,2017-01-01,00:26:08

In [10]:
data['fecha_arribo2']=data['fecha_arribo']+" "+data['hora_arribo']
data['fecha_retiro2']=data['fecha_retiro']+" "+data['hora_retiro']

data['fecha_retiro']=pd.to_datetime(data['fecha_retiro'], format="%Y-%m-%d")
data['fecha_arribo']=pd.to_datetime(data['fecha_arribo'], format="%Y-%m-%d")

In [11]:
data['anio_retiro']=data.fecha_retiro.dt.year
data['mes_retiro']=data.fecha_retiro.dt.month
data['dianum_retiro']=data.fecha_retiro.dt.day
data['diasem_retiro']=data.fecha_retiro.dt.dayofweek

data['anio_arribo']=data.fecha_arribo.dt.year
data['mes_arribo']=data.fecha_arribo.dt.month
data['dianum_arribo']=data.fecha_arribo.dt.day
data['diasem_arribo']=data.fecha_arribo.dt.dayofweek

In [12]:
data['timeElapsed'] = pd.to_datetime(data['fecha_arribo2'])-pd.to_datetime(data['fecha_retiro2'])
data['timeElapsed'] = data['timeElapsed'].dt.seconds

data['fecha_arribo2']=pd.to_datetime(data['fecha_arribo2'])
data['fecha_retiro2']=pd.to_datetime(data['fecha_retiro2'])

data['hora_retiro2']=data['fecha_retiro2']-data['fecha_retiro']
data['hora_retiro2']=data['hora_retiro2'].dt.seconds

In [13]:
data['ciclo_estacion_arribo']=pd.to_numeric(data['ciclo_estacion_arribo'])

In [14]:
data.dtypes

id                                int64
genero_usuario                   object
edad_usuario                      int64
bici                             object
ciclo_estacion_retiro             int64
fecha_retiro             datetime64[ns]
mes_retiro                        int64
anio_retiro                       int64
hora_retiro                      object
ciclo_estacion_arribo             int64
fecha_arribo             datetime64[ns]
hora_arribo                      object
fecha_arribo2            datetime64[ns]
fecha_retiro2            datetime64[ns]
dianum_retiro                     int64
diasem_retiro                     int64
anio_arribo                       int64
mes_arribo                        int64
dianum_arribo                     int64
diasem_arribo                     int64
timeElapsed                       int64
hora_retiro2                      int64
dtype: object

In [15]:
data.head()

,id,genero_usuario,edad_usuario,bici,ciclo_estacion_retiro,fecha_retiro,mes_retiro,anio_retiro,hora_retiro,ciclo_estacion_arribo,fecha_arribo,hora_arribo,fecha_arribo2,fecha_retiro2,dianum_retiro,diasem_retiro,anio_arribo,mes_arribo,dianum_arribo,diasem_arribo,timeElapsed,hora_retiro2
0,38345822,M,42,1570,33,2017-01-01,1,2017,00:05:06,1,2017-01-01,00:16:49,2017-01-01 00:16:49,2017-01-01 00:05:06,1,6,2017,1,1,6,703,306
1,38345823,M,36,7083,27,2017-01-01,1,2017,00:10:13,123,2017-01-01,00:18:28,2017-01-01 00:18:28,2017-01-01 00:10:13,1,6,2017,1,1,6,495,613
2,38345824,M,18,4093,157,2017-01-01,1,2017,00:14:06,157,2017-01-01,01:05:31,2017-01-01 01:05:31,2017-01-01 00:14:06,1,6,2017,1,1,6,3085,846
3,38345825,M,20,7704,87,2017-01-01,1,2017,00:14:35,43,2017-01-01,00:18:27,2017-01-01 00:18:27,2017-01-01 00:14:35,1,6,2017,1,1,6,232,875
4,38345826,M,34,7176,47,2017-01-01,1,2017,00:16:54,123,2017-01-01,00:26:08,2017-01-01 00:26:08,2017-01-01 00:16:54,1,6,2017,1,1,6,554,1014

In [16]:
X=data[['genero_usuario','edad_usuario','ciclo_estacion_retiro','hora_retiro2','anio_retiro','mes_retiro','dianum_retiro','diasem_retiro','timeElapsed']]
X=X.reset_index()

In [19]:
X=X.iloc[:,1:]

,genero_usuario,edad_usuario,ciclo_estacion_retiro,hora_retiro2,anio_retiro,mes_retiro,dianum_retiro,diasem_retiro,timeElapsed
0,M,42,33,306,2017,1,1,6,703
1,M,36,27,613,2017,1,1,6,495
2,M,18,157,846,2017,1,1,6,3085
3,M,20,87,875,2017,1,1,6,232
4,M,34,47,1014,2017,1,1,6,554
...,...,...,...,...,...,...,...,...,...
25096426,M,36,150,86341,2019,3,30,5,540
25096427,M,30,150,86351,2019,3,30,5,540
25096428,M,33,53,86353,2019,3,30,5,2627
25096429,M,28,45,86361,2019,3,30,5,254
25096430,M,42,10,86399,2019,3,30,5,413

In [20]:
X.to_csv('dataForSim.csv', index=False)